<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <title> {% block title %} {% endblock %}</title> 
    </head>
    <body> 
               
          <nav id="navbar-example2" class="navbar bg-dark-subtle px-5 mb-1 sticky-top" data-bs-spy="scroll" role="navigation">
            <a class="navbar-brand" href="#"> BINNY'S WEBSITE</a>
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading1">Apple</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading2">Samsung</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading3">Oneplus</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading4">Nokia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading5">Oppo</a>
              </li>
            </ul>
          </nav>
          
          <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0" >
            <h4 id="scrollspyHeading1">APPLE</h4>
            <p>Apple Inc. is an American multinational technology company headquartered in Cupertino, California. 
              Apple is the world's largest technology company by revenue, with US$394.3 billion in 2022 revenue.[6] As of March 2023, Apple is the world's biggest company by market capitalization.[7] As of June 2022, Apple is the fourth-largest personal computer vendor by unit sales and the second-largest mobile phone manufacturer in the world. It is considered one of the Big Five American information technology companies, alongside Alphabet (parent company of Google), Amazon, Meta Platforms, and Microsoft.

                Apple was founded as Apple Computer Company on April 1, 1976, by Steve Wozniak, Steve Jobs (1955–2011) and Ronald Wayne to develop and sell Wozniak's Apple I personal computer. It was incorporated by Jobs and Wozniak as Apple Computer, Inc. in 1977. The company's second computer, the Apple II, became a best seller and one of the first mass-produced microcomputers. Apple went public in 1980 to instant financial success. The company developed computers featuring innovative graphical user interfaces, including the 1984 original Macintosh, announced that year in a critically acclaimed advertisement called "1984". By 1985, the high cost of its products, and power struggles between executives, caused problems. Wozniak stepped back from Apple and pursued other ventures, while Jobs resigned and founded NeXT, taking some Apple employees with him.</p>
            <hr> 
            <h4 id="scrollspyHeading2">SAMSUNG</h4>
            <p>Samsung Group,[3] or simply Samsung (Korean: 삼성; RR: samseong [samsʌŋ]) (stylized as SΛMSUNG), is a South Korean multinational manufacturing conglomerate headquartered in Samsung Digital City, Suwon, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the eighth highest global brand value.[4]

                Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and JoongAng Group.</p>
            <hr>
            <h4 id="scrollspyHeading3">ONEPLUS</h4>
            <p>nePlus Technology (Shenzhen) Co., Ltd. (Chinese: 一加科技; pinyin: Yījiā Kējì), doing business as OnePlus, is a Chinese consumer electronics manufacturer headquartered in Shenzhen, Guangdong, China.[6] It is a subsidiary of Oppo.

                OnePlus was founded by Pete Lau and Carl Pei on 16 December 2013 to develop a high-end flagship smartphone running Cyanogen OS that would come to be known as the OnePlus One. OnePlus would continue to release phones throughout the 2010s and 2020s. In 2020, OnePlus released the OnePlus Nord, its first mid-range smartphone since the OnePlus X in 2015. Pei would oversee the design and marketing of OnePlus' products until his departure from the company in October 2020, going on to found the consumer electronics manufacturer Nothing. In 2022–2023, OnePlus is still actively producing affordably priced phones ($200–749 USD) with top-of-the-line specs comparable to leading Samsung phones, including 5G connectivity. OnePlus is also partnered with T-Mobile to provide OnePlus Phone through T-Mobile to extend its legitimacy and reach.</p>
            <hr>
            <h4 id="scrollspyHeading4">NOKIA</h4>
            <p>Nokia Corporation (natively Nokia Oyj in Finnish and Nokia Abp in Swedish,[5] referred to as Nokia)[a] is a Finnish multinational telecommunications, information technology, and consumer electronics corporation, established in 1865. Nokia's main headquarters are in Espoo, Finland, in the greater Helsinki metropolitan area,[3] but the company's actual roots are in the Tampere region of Pirkanmaa.[6] In 2020, Nokia employed approximately 92,000 people[7] across over 100 countries, did business in more than 130 countries, and reported annual revenues of around €23 billion.[4] Nokia is a public limited company listed on the Helsinki Stock Exchange and New York Stock Exchange.[8] It was the world's 415th-largest company measured by 2016 revenues, according to the Fortune Global 500, having peaked at 85th place in 2009.[9] It is a component of the Euro Stoxx 50 stock market index.[10][11]</p>
            
            <hr>
            <h4 id="scrollspyHeading5">OPPO</h4>
            <p>Oppo (stylized in Letter case) is a Chinese consumer electronics manufacturer headquartered in Dongguan, Guangdong. Its major product lines include smartphones, smart devices, audio devices, power banks, and other electronic products.

                It is overseen by BBK Electronics[1]
                The brand name "Oppo" was registered in China in 2001 and launched in 2004.[2] Since then, the company has expanded to 50 countries.[2]

                In June 2016, Oppo became the largest smartphone manufacturer in China,[3] selling its phones at more than 200,000 retail outlets.[4] Oppo was the top smartphone brand in China in 2019 and was ranked No. 5, in market share, worldwide.[5]</p>
          </div>
          <br><br>
          <div class="alert alert-primary" role="alert">
            Founder's data
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Company</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Steve</td>
                <td>Jobs</td>
                <td>APPLE</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Lee</td>
                <td>Byung-chul</td>
                <td>SAMSUNG</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Pete</td>
                <td>Lau</td>
                <td>ONEPLUS</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Fredrik Idestam</td>
                <td>Eduard Polon</td>
                <td>NOKIA</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Tony</td>
                <td>Chen</td>
                <td>OPPO</td>
              </tr>
            </tbody>
          </table>
          
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    </body>
</html>    